RewriteEngine on

RewriteRule ^home/(css|js|img)/(.*)/?$ /$1/$2 [L,QSA,R=301]
RewriteRule ^home/?$ index.php
RewriteRule ^contact?$ app/contact.php
RewriteRule ^about?$ app/about.php
RewriteRule ^faq?$ app/faq.php
RewriteRule ^articles?$ app/articles.php
RewriteRule ^article-details/(css|js|img)/(.*)/?$ /$1/$2 [L,QSA,R=301]
RewriteRule ^article-details/([0-9]+)/(.*)/?$ app/article_details.php?id=$1&judul=$2
RewriteRule ^testimonials?$ app/testimonials.php
RewriteRule ^services?$ app/services.php
RewriteRule ^admin/access-denied?$ admin/access_denied.html
RewriteRule ^admin/home?$ admin/index.php
RewriteRule ^cek_login?$ app/cek_login.php
RewriteRule ^admin/services?$ admin/services.php
RewriteRule ^admin/services-form/?$ admin/services_form.php
RewriteRule ^admin/services-form/(css|js|img)/(.*)/?$ /$1/$2 [L,QSA,R=301]
RewriteRule ^admin/services-form/([0-9]+)/(.*)/?$ admin/services_form.php?id=$1&action=$2 
RewriteRule ^admin/model/services/add-services/?$ admin/model/services/add_services.php
RewriteRule ^admin/model/services/update-services/?$ admin/model/services/update_services.php
RewriteRule ^admin/model/services/delete-services/([0-9]+)/(.*)?$ admin/model/services/delete_services.php?id=$1&judul=$2 [NC,L]
RewriteRule ^admin/user?$ admin/user.php
RewriteRule ^admin/model/users/add-user?$ admin/model/users/add_user.php
RewriteRule ^admin/model/users/delete-user/([0-9]+)/(.*)?$ admin/model/users/delete_user.php?id=$1&username=$2 [NC,L]
RewriteRule ^app/logout?$ app/logout.php
RewriteRule ^admin/gallery?$ admin/gallery.php
RewriteRule ^admin/articles?$ admin/articles.php
RewriteRule ^admin/articles-form/?$ admin/articles_form.php
RewriteRule ^admin/articles-form/(css|js|img)/(.*)/?$ /$1/$2 [L,QSA,R=301]
RewriteRule ^admin/articles-form/([0-9]+)/(.*)/?$ admin/articles_form.php?id=$1&action=$2 
RewriteRule ^admin/model/articles/add-articles/?$ admin/model/articles/add_articles.php
RewriteRule ^admin/model/articles/update-articles/?$ admin/model/articles/update_articles.php
RewriteRule ^admin/model/articles/delete-article/([0-9]+)/(.*)?$ admin/model/articles/delete_article.php?id=$1&judul=$2 [NC,L]
RewriteRule ^add-contact?$ app/add_contact.php
RewriteRule ^admin/medsos?$ admin/mediasosial.php
RewriteRule ^admin/model/medsos/edit-medsos?$ admin/model/medsos/edit_medsos.php
RewriteRule ^admin/email?$ admin/email.php
RewriteRule ^admin/email-detail/([0-9]+)/([0-9]+)/?$ admin/email_detail.php?id=$1&total=$2
RewriteRule ^admin/model/contacts/delete-contact/([0-9]+)/(.*)?$ admin/model/contacts/delete_contact.php?id=$1&nama=$2 [NC,L]
RewriteRule ^admin/trash-email?$ admin/trash_email.php
RewriteRule ^admin/portofolios?$ admin/portofolios.php
RewriteRule ^admin/portofolios-form?$ admin/portofolios_form.php
RewriteRule ^admin/portofolios-form/([0-9]+)/(.*)/?$ admin/portofolios_form.php?id=$1&action=$2 
RewriteRule ^admin/model/portofolios/add-portofolios/?$ admin/model/portofolios/add_portofolios.php
RewriteRule ^admin/model/portofolios/delete-portofolios/([0-9]+)/(.*)?$ admin/model/portofolios/delete_portofolios.php?id=$1&tempat=$2 [NC,L]
RewriteRule ^admin/model/portofolios/update-portofolios/?$ admin/model/portofolios/update_portofolios.php












